.buy_container {
    border: 1px solid;
    width: 580px; /* Set a fixed width */
    padding: 20px; /* Add padding for spacing */
    background-color: white; /* Optional: Set background color */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Optional: Add shadow */
    border-radius: 10px; /* Optional: Rounded corners */
    
    position: absolute;
    bottom:20%;
    
    left:35%;
    display:flex;
    align-items: center;
    justify-content: center;
   
}
.buy_img{
    
    border-right: 1px solid;
}
.buy_img:hover {
    cursor: pointer;
    transform: scale(1.05); /* Slight zoom effect */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Subtle shadow on hover */
}
.buy_content{
    padding:20px 70px 20px 70px;
    
}
.buy_button{
    width: auto;
    white-space: nowrap;
    border-radius: 5px;
    padding:10px;
    background-color: #e68a00;
}